language: android
jdk: oraclejdk7
android:
    components:
        - build-tools-23
        - android-23
        - extra-android-support
        - extra-android-m2repository

script:
- ./gradlew clean build
